{{- if .Site.Params.giscus.enable -}}
<div class="giscus-comments mt4">
  <script src="https://giscus.app/client.js"
          data-repo="{{ .Site.Params.giscus.repo }}"
          data-repo-id="{{ .Site.Params.giscus.repoId }}"
          data-category="{{ .Site.Params.giscus.category }}"
          data-category-id="{{ .Site.Params.giscus.categoryId }}"
          data-mapping="pathname"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="{{ .Site.Params.giscus.theme | default "preferred_color_scheme" }}"
          data-lang="{{ .Site.Params.giscus.lang | default "en" }}"
          crossorigin="anonymous"
          async>
  </script>
</div>
{{- end -}}